// здесь подставить класс таблицы
.products-list {
    border: 1px solid gray;
    border-collapse: collapse;
    width: 700px;

    // здесь подставить класс tr
    &__row {
        height: 50px;
        background-color: #fff;
        border-bottom: 1px solid #d0d0d0;
        font-size: 13px;
        width: 100%;
        text-align: center;
        
        &:hover {
            background-color: #f9f9f9;  
        }

        &__cell {
            width: 100px;
        }
    }

    &__cell-actions {
        width: 100%;
        text-align: center;
        line-height: 100%;
    
            &__dots {
                height: 5px;
                text-align: right;
                cursor: pointer;
                margin: 10px;
            }
            &__copy {
                // здесь уточнить размеры картинок
                width: 14px;
                cursor: pointer;
            }
            &__edit {
                // здесь уточнить размеры картинок
                width: 14px;
                cursor: pointer;
                margin-left: 5px;
                margin-right: 5px;
            }
            &__delete {
                // здесь уточнить размеры картинок
                height: 16px;
                cursor: pointer;
            }
    }
    
}

.button__ok {
    width: 100%;
    height: 25px;
    color: white;
    background-color: green;
    box-shadow: 0 1px 2px #f9f9f9;
    cursor: pointer;

}

.button__recover {
    width: 100%;
    height: 25px;
    color: black;
    background-color: red;
    box-shadow: 0 1px 2px #f9f9f9;
    cursor: pointer;

}
            
.open {
    display: block;
}    
.close {
    display: none;
} 

.checkbox {
    border: 1px solid #d3d3d3;
    box-shadow: none;
    width: 14px;
    height: 14px;
    border-radius: 3px;
    transition: .2s;
    cursor: pointer;
}

.setToDel {
    color: rgb(175, 174, 174);
    background-color: #f9f9f9;
}