@font-face {
  font-family: "Helvetica Neue";
  src: url('../fonts/HelveticaNeueCyr-Roman.ttf') format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url('../fonts/HelveticaNeueCyr-Medium.woff');
  font-weight: 600;
}

@font-face {
  font-family: "AvenirNext";
  src: url("../fonts/AvenirNextCyr/AvenirNextCyr-DemiBold.ttf") format("truetype");
  font-weight: 600;
}

.new-product__wrapper {
  width: 80%;
  height: auto;
  margin-left:30px;
  //margin: 0 auto 333px;
  background-color: #ffffff;
  font-size: 12px;
  visibility: visible;
}

.new-product__content {
  width: 60%;
  height: fit-content;

}

.new-product__form__heading {
  width: 90%;
  margin: 0 auto;
  padding: 45px 0;
  line-height: 1em;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #77bbeb;
}

.new-product__form {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 90%;
  margin: auto;
}

.new-product__form__column {
  width: 49%;
  margin-top: 10px;
}

.new-product__form__row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.new-product__form__input--text {
  width: 90%;
  height: 37px;
  margin-top: 24px;
}

.new-product__form__input--textarea {
  position: relative;
  top: -50px;
  width: 90%;
  line-height: 2.1em;
}

.new-product__form__input--number {
  display: inline-block;
  width: 50px;
  height: 37px;
  margin-top: 10px;
  text-align: center;
  /*&::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }*/
}

.new-product__form__input--number__label {
  display: inline-block;
  width: 48%;
  margin: 0 0 30px;
}

.new-product__form__input--number__label--small {
  display: inline-block;
  width: 30%;
  margin: 0 0 37px;
}
/*.new-product__form__input__arrow--up, .new-product__form__input__arrow--down {
    display: inline-block;
    position: relative;
    left: 0;
    width: 4px;
    height: 4px;
    border: none;
    border-left: 2px solid #77bbeb;
    border-bottom: 2px solid #77bbeb;
    background-color: #ffffff;
    font-size: 0;
}

.new-product__form__input__arrow--up {
    transform: rotate(135deg);
}

.new-product__form__input__arrow--up {
    top: -17px;
    transform: rotate(-45deg);
  }
*/
.new-product__form__input__label {
  position: relative;
  width: 90%;
  top: -60px;
  margin: 0;
}

.new-product__form__input__group-label {
  margin-bottom: 10px;
  padding-top: 15px;
  line-height: 1.5em;
  font-weight: 600;
  font-size: 14px;
}

.new-product__form__selection {
  display: block;
  position: relative;
  top: -36px;
  left: 60%;
  width: 50px;
  height: 35px;
  border: 0 none;
  color: #ffffff;
  -webkit-appearance: none;
}

.new-product__form__selection option:not(:checked){
  color: black;
}
.new-product__form__selection option:not(:hover){
  color: black;
}

.new-product__form__selection__button {
  position: relative;
  top: -72px;
  left: 75%;
  display: block;
  width: 37px;
  height: 37px;
  border: 0 none;
  background-color: #73cc83;
  color: #ffffff;
  font-size: 20px;
  &::before {
    content: '';
    display: block;
    position: relative;
    top: 13px;
    left: -20px;
    width: 5px;
    height: 5px;
    border: none;
    border-left: 2px solid #77bbeb;
    border-bottom: 2px solid #77bbeb;
    font-size: 0;
    transform: rotate(-45deg);
  }
}

.new-product__form__reference {
  margin: 0 0 30px;
  font-size: 11px;
}

.new-product__form_submit-button {
  display: block;
  width: 31.3%;
  height: 36px;
  margin: auto auto 300px;
  border: 0 none;
  border-radius: 2px;
  background-color: #73cc83;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "AvenirNext";
  font-weight: 600;
  font-size: 10px;
  line-height: 28px;
}
