@font-face {
    font-family: "AvenirNext";
    src: url("../fonts/AvenirNext/AvenirNext-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "AvenirNext";
    src: url("../fonts/AvenirNext/AvenirNext-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "AvenirNext";
    src: url("../fonts/AvenirNext/AvenirNext-DemiBold.ttf") format("truetype");
    font-weight: 600;
}

.tutorial-main {
  	position: absolute;
	top: 85px;
	left: 122px;
  	width: 63%;
  	margin: 0 auto 45px;
  	border-radius: 5px;
  	background-color: #ffffff;
  	line-height: 24px;	
	font-family: "AvenirNext", sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #333333;
}

.tutorial-main__heading {
	margin: 0 auto 30px;
	padding-top: 45px;
	text-align: center;
	line-height: 2em;
	letter-spacing: -1px;
	font-weight: bold;
	font-size: 24px;
	&::after {
		content: " ";
		display: block;
		width: 34px;
		height: 4px;
		margin: 18px auto 28px;
		border-radius: 1px;
		background-color: #6fb7e9;
	}
}

.tutorial-main__text {
	width: 77.7%;
	margin: 28px auto 40px;
}

.tutorial-main__link, .tutorial-sidebar__item__link {
	color: #6fb7ea;
	text-decoration: none;
}

.tutorial-main__link--underlined {
	color: #6fb7ea;
	text-decoration: underline;
	font-weight: normal;
}

.tutorial-main__video {
	display: block;
	width: 46.13%;
	height: 240px;
	margin: 43px auto 50px;
	border-radius: 10px;
	border: 0 none;
}

.tutorial-main__section-heading {
	margin: 27px auto 15px;
	text-align: center;
	font-weight: bold;
	font-size: 1.28em;
	&::after {
		content: " ";
		display: block;
		width: 25px;
		height: 3px;
		margin: 15px auto 27px;
		border-radius: 1px;
		background-color: #6fb7e9;
	}
}

.tutorial-main__list {
	width: 74%;
	margin: 25px auto;
	color: #6fb7e9;
	font-weight: bold;
}

.tutorial-main__list__item {
	margin-top: 27px;
}

.tutorial-main__list__item__text {
	color: #333333;
	font-weight: normal;
}

.tutorial-main__separator {
	width: 78%;
	height: 1px;
	margin: auto;
	background-color: #6fb7e9; 
}

.tutorial-main__icons-block {
	display: flex;
	width: 78%;
	margin: 10px auto 45px;
	flex-direction: row;
	justify-content: space-between;
}

.tutorial-main__icons-block__item {
	font-size: 12px;
	line-height: 2em;
	font-weight: 600;
}

.tutorial-main__icons-block__item__text {
	display: inline-block;
	margin: auto 1em;
}

@media screen and (max-width: 1024px) {
  	.tutorial-main {
    	position: initial;
    	font-size: 12px;
    	width: 74.84%;
    	margin: 13px 0 0 auto;
    	border-radius: 10px 10px 0 0;
    	font-size: 12px;
  	}
  	.tutorial-main__video {
    	width: 202px;
    	height: 123px;
  	}

  	.tutorial-main__heading {
  		font-size: 16px;
  		font-weight: 600;
  		letter-spacing: 0;
  	}

  	.tutorial-main__section-heading {
  		font-size: 14px;
  	}

  	.tutorial-main__icons-block__item {
		font-size: 10px;
		line-height: 28px;
		font-weight: 600;
	}
}